@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Ubuntu');

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .5px;
    width: 80%;
    margin: 25px auto;
    padding: 0;
    text-align: center;
    box-shadow: 25px 5px 25px 5px #ccc,
                -25px -5px 25px 5px #ccc;
}

header {
    font-family: 'Lobster Two', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}

.main {
    margin: 25px auto;
}

.main h1 {
    margin: 0 auto;
}

input[type="text"] {
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-bottom: 1px solid transparent;
}
input[type="text"]:focus {
    outline: none;

    border-bottom: 1px solid #333;
}

input[type="submit"] {
    background: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 2px;
}
input[type="submit"]:hover {
    background: #333;
    color: #fff;
}

@media screen and (min-width: 960px) {
    .container {
        width: 50%;
    }
}