@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Ubuntu');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background: rgba(3, 104, 255, .4);
}

a {
    text-decoration: none;
    color: #ccc;
}
a:hover {
    color: #fff;
}
a:visited {
    color: rgba(155, 0, 194, 1);
}

.container {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .5px;
    width: 80%;
    margin: 25px auto;
    padding: 0;
    text-align: center;
    box-shadow: 3px 3px 30px 1px #9f9f9f,
                -3px -3px 30px 1px #9f9f9f;
    border: 7px solid #333;
    border-radius: 5px;
}

header {
    font-family: 'Lobster Two', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}

.main {
    margin: 60px auto;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.5),
                    -2px -2px 5px rgba(255,255,255,0.5);
}

.main h1 {
    margin: 0 auto;
}

input[type="text"] {
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}
input[type="text"]:focus {
    outline: none;

    border-bottom: 3px solid rgba(155, 0, 194, .3);
}

input[type="submit"] {
    background: #fff;
    color: rgba(155, 0, 194, 1);
    border: 1px solid rgba(155, 0, 194, 1);
    border-radius: 2px;
}
input[type="submit"]:hover {
    background: rgba(155, 0, 194, 1);
    color: #fff;
}

@media screen and (min-width: 960px) {
    .container {
        width: 40%;
    }
}